Cal DOJ/Technical zip Packet/CDRecordS/schemas/information/XMLschemas/subset/niem/domains/jxdm/4.0/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Justice</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="ArrestType">
    <xsd:annotation>
      <xsd:documentation>A data type for the apprehension of a subject by a peace official.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:ArrestAgency" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ArrestRelease" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:Booking" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BookingType">
    <xsd:annotation>
      <xsd:documentation>A data type for an administrative step taken after an arrest subject is brought to a police station or detention facility.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:BookingAgency" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:BookingAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeDegreeText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtOrderType">
    <xsd:annotation>
      <xsd:documentation>A data type for a direction of a judge not including a judgement, which determines some point or directs some steps in proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:CourtOrderIssuingJudicialOfficial" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtType">
    <xsd:annotation>
      <xsd:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:CourtName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JudicialOfficialType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person involved in a judicial area of government.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:JudicialOfficialCourt" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicense" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PleaType">
    <xsd:annotation>
      <xsd:documentation>A data type for an answer which a defendant in an action at law makes to charges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:PleaDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SentenceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatuteType">
    <xsd:annotation>
      <xsd:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:StatuteCodeIdentification" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:StatuteCodeSectionIdentification" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:StatuteLevelText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person who is involved or suspected of being involved in an incident or criminal activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RoleOfPersonReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TermType">
    <xsd:annotation>
      <xsd:documentation>A data type for a duration length either in specific terms or as a range.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:TermDuration" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WarrantType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:CourtOrderType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ArrestAgency" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An agency which employs the arresting official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A records management system number of the originating case agency for an arrest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArrestRelease" type="nc:ReleaseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a release of a subject from an arrest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Booking" type="j:BookingType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about an administrative step taken after an arrested subject is brought to a police station or detention facility, which involves entry of the subject&amp;apos;s name and other relevant facts on the police &amp;quot;blotter&amp;quot;, and which may also include photographing, fingerprinting, and the like. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BookingAgency" type="nc:OrganizationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization which processes a booking.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BookingAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A booking identifier of the originating case agency.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a crime category.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeCountQuantity" type="niem-xsd:nonNegativeInteger" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number of times a person is charged with committing the same crime.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeDegreeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A degree of a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a charge was filed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargePlea" type="j:PleaType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An answer which a defendant in an action at law makes in response to a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a unit of a court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderIssuingJudicialOfficial" type="j:JudicialOfficialType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A judge or other judicial official that issued a court order.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="JudicialOfficialCourt" type="j:CourtType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A court unit to which a judicial official is assigned.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationCategoryNCICORIAgencyCode" type="fbi:ORIAgencyCodeType" substitutionGroup="nc:OrganizationCategory">
    <xsd:annotation>
      <xsd:documentation>A functional kind of an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number issued by the FBI&amp;apos;s Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PleaDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a plea.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SanctionSuspendedObligation" type="nc:ObligationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An amount of money or time requirement of a sanction that is no longer required to be paid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SentenceDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the sentence being imposed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SentenceSuspendedTerm" type="j:TermType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about the suspended term.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SentenceTerm" type="j:TermType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A duration of a sentence. Specified as either a specific term in days-months-years or as a minimum - maximum range.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a set of laws for a particular jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a section or category within a code book.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a statute.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatuteLevelText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A level of crime a statute applies to.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TermDuration" type="niem-xsd:duration" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific range or duration of a term.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
