Assure/PersonMentalHealthQueryResults_IEPD/xsd/Subset/niem/domains/jxdm/5.0/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:ndex="http://release.niem.gov/niem/codes/fbi_ndex/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/fbi_ncic/3.0/fbi_ncic.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.0/"/>
  <xs:import schemaLocation="../../../codes/fbi_ndex/3.0/fbi_ndex.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ndex/3.0/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseAmendedCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCharge" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeDispositionType">
    <xs:annotation>
      <xs:documentation>A data type for the results or processing of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:DispositionType">
        <xs:sequence>
          <xs:element ref="j:ChargeDispositionCondition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDispositionOtherText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDispositionSanction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDisposition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSanction" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SanctionType">
    <xs:annotation>
      <xs:documentation>A data type for a sanction or penalty ordered for a subject as a result of a disposition of a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SanctionSetObligation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SanctionCategoryText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SentenceCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceTerm" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a supervision.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:SupervisionAssignedTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionRestriction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionRestrictionType">
    <xs:annotation>
      <xs:documentation>A data type for a restriction on a supervised person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SupervisionRestrictionBehaviorText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionRestriction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>A data type for a duration length either in specific terms or as a range.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:TermDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermLifeIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermMaximumDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermMinimumDuration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TermAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CaseAmendedCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge different than the original charge a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge or accusation a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDomesticViolenceIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the case involves domestic violence; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying number for a case that this activity is a part of, where the case number belongs to the agency that owns the activity information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Charge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a crime category.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDisposition" type="j:ChargeDispositionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A result or processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDispositionCondition" type="nc:ConditionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A requirement which, when met, represents compliance with a pre-disposition condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDispositionOtherText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An additional set of information beyond or separate from the outcome of a charge, such as the processing of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDispositionSanction" type="j:SanctionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A penalty ordered for a subject by a judge or a supervising agency as a result of a disposition of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSanction" type="j:SanctionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sanction given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sentence given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A text of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConvictionCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge for which a person was convicted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConvictionSentence" type="j:SentenceType">
    <xs:annotation>
      <xs:documentation>A sentence imposed upon a person having been found guilty of a crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EvaluationDiagnosisDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a diagnosis determined as a result of an Person's evaluation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="KnownEnemyAssociation" type="nc:PersonAssociationType">
    <xs:annotation>
      <xs:documentation>A relationship between people who are known enemies.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaritalStatusCode" type="ndex:MaritalStatusCodeType" substitutionGroup="nc:PersonUnionStatus" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of a union, such as separated or divorced.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MonthlyIncomeTotalAmount" type="nc:AmountType">
    <xs:annotation>
      <xs:documentation>A total monthly income amount represented in this financial compilation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Narrative" type="nc:CommentType">
    <xs:annotation>
      <xs:documentation>An account as reported by an observer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseSummaryArrestQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of arrests for a summary offense type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OriginalCharge" type="j:ChargeType">
    <xs:annotation>
      <xs:documentation>An original charge a party was given without modifications.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthplace" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state or country of a person's birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthplaceCode" type="ncic:POBCodeType" substitutionGroup="j:PersonBirthplace">
    <xs:annotation>
      <xs:documentation>A state or country of a person's birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonParoleeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the person is known to be a parolee; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProbationerIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the person is known to be on probation; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PleaNegotiatedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a plea is negotiated with the prosecution; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PrescribedMedicationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a Person's prescribed medication</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PrescribedMedicationReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason provided for an person's prescribed medication</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProgramTitleText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A title or name of a class or treatment program a student or patient is participating in.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sanction" type="j:SanctionType">
    <xs:annotation>
      <xs:documentation>A sanction or penalty ordered for a subject by a judge or a supervising agency as a result of a disposition of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SanctionCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of sanction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SanctionDaysSuspendedQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of days for which the execution of the sanction is to be suspended pending clear conduct by a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SanctionSetObligation" type="nc:ObligationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of money or time requirement of a sanction that has been set.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sentence" type="j:SentenceType">
    <xs:annotation>
      <xs:documentation>A punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A specific charge in a court case resulting in a sentence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the sentence being imposed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration of a sentence. Specified as either a specific term in days-months-years or as a minimum - maximum range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisedReleaseRevocationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date that the supervised release was revoked.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisedReleaseRevocationReasonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A reason for which supervised release was revoked.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAssignedTerm" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration of time a person has been assigned to be under supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAugmentation" type="j:SupervisionAugmentationType" substitutionGroup="nc:SupervisionAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionReinstatementDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date that a supervision is reinstated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionRestriction" type="j:SupervisionRestrictionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A restriction on a supervised person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionRestrictionBehaviorText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A behavior a supervised person is restricted from doing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Term" type="j:TermType" nillable="true">
    <xs:annotation>
      <xs:documentation>A duration length specified as either a specific term in days-months-years or as a minimum - maximum range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for TermType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A specific range or duration of a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermLifeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the term is not for a set duration length but for life; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermMaximumDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A maximum range or duration for a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermMinimumDuration" type="niem-xs:duration" nillable="true">
    <xs:annotation>
      <xs:documentation>A minimum range or duration for a term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TreatmentDiagnosisText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A  determining or analysis of the manner in which to treat the cause or nature of a problem</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimAggravatedAssaultHomicideFactorText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A circumstance of either an aggravated assault or homicide.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of warrant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantProbableCauseText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A justification for securing a warrant. </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
