Cal DOJ/GRA Service Specifications/DispositionRecordingService/schemas/SIP_WS_1.3/CDRecordS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ccdd="https://isb.srv.courts-tc.ca.gov/CADRIP/CorrectedChargeDispositionDocument" xmlns:icdd="https://isb.srv.courts-tc.ca.gov/CADRIP/InitialChargeDispositionDocument"
	xmlns:scdd="https://isb.srv.courts-tc.ca.gov/CADRIP/SubsequentChargeDispositionDocument" xmlns:cdrd="https://isb.srv.courts-tc.ca.gov/CADRIP/ChargeDispositionResponseDocument"
	xmlns:cdrecords="https://isb.srv.courts-tc.ca.gov/CADRIP/1.0/CDRecordS" targetNamespace="https://isb.srv.courts-tc.ca.gov/CADRIP/1.0/CDRecordS"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="https://isb.srv.courts-tc.ca.gov/CADRIP/1.0/ws-policy" location="CADRIP_Policy.wsdl" /> <!-- Please use OASIS UserName Token policy 1.0 -->
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="https://isb.srv.courts-tc.ca.gov/CADRIP/CorrectedChargeDispositionDocument"
				schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/exchange/CorrectedChargeDispositionDocument.xsd" />
			<xsd:import namespace="https://isb.srv.courts-tc.ca.gov/CADRIP/InitialChargeDispositionDocument"
				schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/exchange/InitialChargeDispositionDocument.xsd" />
			<xsd:import namespace="https://isb.srv.courts-tc.ca.gov/CADRIP/SubsequentChargeDispositionDocument"
				schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/exchange/SubsequentChargeDispositionDocument.xsd" />
			<xsd:import namespace="https://isb.srv.courts-tc.ca.gov/CADRIP/ChargeDispositionResponseDocument"
				schemaLocation="../../artifacts/service_model/information_model/IEPD/xsd/exchange/ChargeDispositionResponseDocument.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CorrectedChargeDispositionMessage">
		<wsdl:part name="CorrectedChargeDispositionDocument" element="ccdd:CorrectedChargeDispositionDocument" />
	</wsdl:message>
	<wsdl:message name="InitialChargeDispositionMessage">
		<wsdl:part name="InitialChargeDispositionDocument" element="icdd:InitialChargeDispositionDocument" />
	</wsdl:message>
	<wsdl:message name="SubsequentChargeDispositionMessage">
		<wsdl:part name="SubsequentChargeDispositionDocument" element="scdd:SubsequentChargeDispositionDocument" />
	</wsdl:message>
	<wsdl:message name="ChargeDispositionResponseMessage">
		<wsdl:part name="ChargeDispositionResponseDocument" element="cdrd:ChargeDispositionResponseDocument" />
	</wsdl:message>
	<wsdl:portType name="ChargeDispositionRecordingServiceInterface">
		<wsdl:operation name="RecordCorrectedChargeDisposition">
			<wsdl:input name="CorrectedChargeDispositionMessage" message="cdrecords:CorrectedChargeDispositionMessage" />
			<wsdl:output name="CorrectedChargeDispositionResponseMessage" message="cdrecords:ChargeDispositionResponseMessage">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecordInitialChargeDisposition">
			<wsdl:input name="InitialChargeDispositionMessage" message="cdrecords:InitialChargeDispositionMessage" />
			<wsdl:output name="InitialChargeDispositionResponseMessage" message="cdrecords:ChargeDispositionResponseMessage">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecordSubsequentChargeDisposition">
			<wsdl:input name="SubsequentChargeDispositionMessage" message="cdrecords:SubsequentChargeDispositionMessage" />
			<wsdl:output name="SubsequentChargeDispositionResponseMessage" message="cdrecords:ChargeDispositionResponseMessage">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ChargeDispositionRecordingServiceSOAPBinding" type="cdrecords:ChargeDispositionRecordingServiceInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsaw:UsingAddressing wsdl:required="true" />
		<wsp:PolicyReference URI="#wss-policy" />
		<wsdl:operation name="RecordCorrectedChargeDisposition">
			<soap:operation soapAction="https://isb.srv.courts-tc.ca.gov/CADRIP/1.0/CDRecordS/RecordCorrectedChargeDisposition"
				style="document" />
			<wsdl:input name="CorrectedChargeDispositionMessage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CorrectedChargeDispositionResponseMessage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecordInitialChargeDisposition">
			<soap:operation soapAction="https://isb.srv.courts-tc.ca.gov/CADRIP/1.0/CDRecordS/RecordInitialChargeDisposition"
				style="document" />
			<wsdl:input name="InitialChargeDispositionMessage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="InitialChargeDispositionResponseMessage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecordSubsequentChargeDisposition">
			<soap:operation soapAction="https://isb.srv.courts-tc.ca.gov/CADRIP/1.0/CDRecordS/RecordSubsequentChargeDisposition"
				style="document" />
			<wsdl:input name="SubsequentChargeDispositionMessage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SubsequentChargeDispositionResponseMessage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ChargeDispositionRecordingService">
		<wsdl:port name="ChargeDispositionRecordingServicePort" binding="cdrecords:ChargeDispositionRecordingServiceSOAPBinding">
			<soap:address location="http://example/ChargeDispositionRecordingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>