Cal DOJ/GRA Service Specifications/DispositionRecordingService/artifacts/service_model/information_model/IEPD/xsd/extension/ChargeDispositionDocument-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.0/" xmlns:em="http://release.niem.gov/niem/domains/emergencyManagement/4.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:cdd-ext="https://isb.srv.courts-tc.ca.gov/CADRIP/ChargeDispositionDocumentExtension"
	targetNamespace="https://isb.srv.courts-tc.ca.gov/CADRIP/ChargeDispositionDocumentExtension" version="1">
	<xsd:annotation>
		<xsd:appinfo>
			<appinfo:ConformantIndicator>true</appinfo:ConformantIndicator>
		</xsd:appinfo>
		<xsd:documentation>CA DRIP Charge Disposition Document Extension</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../subset/niem/proxy/xsd/4.0/xs.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="../subset/niem/utility/structures/4.0/structures.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/appinfo/4.0/" schemaLocation="../subset/niem/utility/appinfo/4.0/appinfo.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../subset/niem/niem-core/4.0/niem-core.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/6.0/" schemaLocation="../subset/niem/domains/jxdm/6.0/jxdm.xsd" />
	<xsd:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/" schemaLocation="../subset/niem/domains/emergencyManagement/4.0/emergencyManagement.xsd" />
	<xsd:complexType name="ChargeDispositionDocumentType">
		<xsd:annotation>
			<xsd:documentation>A data type for the CA DRIP Disposition Document.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DocumentType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:StepOne" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:StepTwo" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cdd-ext:StepFour" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cdd-ext:StepFive" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cdd-ext:DispositionIdentificationNumber" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StepType">
		<xsd:annotation>
			<xsd:documentation>A data type used by DOJ to organize the disposition content.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:DispositionType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:DispositionStepNumber" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CountyCodeRecordSegmentNumber" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:EventSequenceNumber" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StepOneType">
		<xsd:annotation>
			<xsd:documentation>A data type for disposition subject person identification, arrest, and booking information collected by
				law enforcement.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd-ext:StepType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:DispositionSubject" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ArrestDate" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:ArrestAgency" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:ArrestAgencyRecordIdentification" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:BookingAgency" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:BookingAgencyRecordIdentification" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:FingerprintsTakenIndicator" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DispositionSubjectType">
		<xsd:annotation>
			<xsd:documentation>A data type for disposition subject.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonType">
				<xsd:sequence>
					<xsd:element ref="em:PersonAlternateName" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CourtTrueName" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:PersonAugmentation" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StepTwoType">
		<xsd:annotation>
			<xsd:documentation>A data type for the arrest that is being released or disposed.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd-ext:StepType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:DispositionEventCodeText" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:InCountyWarrantNumber" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:OutofCountyWarrantNumber" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:WarrantIssuingAgencyName" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:StatuteCodeIdentification" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:StatuteCodeSectionIdentification" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:ChargeCategoryDescriptionText" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ArrestLiteralIdentifierText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:StatuteLevelText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ReleaseDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:NonFilingDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SubsequentActionDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:LawEnforcementComments" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ProsecutorComments" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PCReleaseCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PCReleaseReason" minOccurs="0" maxOccurs="2" />
					<xsd:element ref="nc:ReleaseRecipient" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:JuvenileDispositionCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:OtherLawEnforcementDispositionCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ReasonForNonFilingCodeText" minOccurs="0" maxOccurs="2" />
					<xsd:element ref="cdd-ext:PCinLieuofFilingIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ProsecutorRefilingIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:OriginalCourt" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SuccessfulProsecutorDeferralText" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OriginalCourtType">
		<xsd:annotation>
			<xsd:documentation>data container for court information that initially participated in arrest disposition activities
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:OrganizationType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:JudicialDistrictNumber" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StepFourType">
		<xsd:annotation>
			<xsd:documentation>A data type for disposition subject person identification, arrest, and booking information collected by
				law enforcement.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd-ext:StepType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:CourtFilingDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:JudicialDistrictNumber" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ConsolidatedCourtCaseFileNumber" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CaseTrialCategoryCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:PleaDescriptionText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:StatuteCodeSectionIdentification" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CourtDisposedChargeType" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ArrestLiteralIdentifierText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="j:StatuteLevelText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:AllegationandEnhancement" minOccurs="0" maxOccurs="3" />
					<xsd:element ref="cdd-ext:CaseProceedingSuspendedDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:DispositionCategoryText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DismissedReasonCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ProceedingsSuspensionCategoryCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CourtCommentsText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SubsequentActionDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DispositionSubsequentActionCodeText" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AllegationandEnhancementType">
		<xsd:annotation>
			<xsd:documentation>data container for court recorded allegations and enhancements
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="structures:ObjectType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:AllegationandEnhancementCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:AllegationandEnhancementProvenIndicator" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StepFiveType">
		<xsd:annotation>
			<xsd:documentation>A data type for disposition subject person identification, arrest, and booking information collected by
				law enforcement.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cdd-ext:StepType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:SentenceDate" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="j:SentenceDescriptionText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ConcurrentSentenceCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ConsecutiveSentenceCodeText" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ImpositionOfSentenceSuspendedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SentenceStayedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PC17Indicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DeathSentenceIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PrisonFixedTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PrisonSentenceTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SentenceAllegationTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PrisonSentenceSuspendedTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:PrisonStayedTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CaliforniaYouthAuthorityTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:Probation" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:JailTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SuspendedJailTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:FineTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SuspendedFineTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:ObligationDueAmount" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="nc:FinancialObligationExemptionAmount" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:VictimRestitutionAmount" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:WorkIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DiversonProgramTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:FirearmProhibitedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DrugTreatmentIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SearchableIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:RegistrationRequirementIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DrugCourtTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:DeferredJudgmentTerm" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ChargeConsequencesofPleaIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CounselWaivedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:RepresentedByCounselIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:TrialbyJuryWaivedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:SelfIncriminationWaivedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ConfrontRightWaivedIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CounselPleaConcurIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CourtPleaEffectiveIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CertificationDate" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:ClerkCertifiedConvictionIndicator" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CourtClerkName" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:CourtClerkTitle" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="cdd-ext:JudicialDistrictNumber" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProbationType">
		<xsd:annotation>
			<xsd:documentation>data container for court recorded allegations and enhancements
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:SentenceType">
				<xsd:sequence>
					<xsd:element ref="cdd-ext:ProbationCategoryText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cdd-ext:ProbationTerm" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="cdd-ext:ProbationConditionJailSuspendedTerm" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PC17Indicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a felony offense was reduced at sentence, false othewise
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StepOne" type="cdd-ext:StepOneType">
		<xsd:annotation>
			<xsd:documentation>The data regarding the disposition subject, arrest and booking information
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StepTwo" type="cdd-ext:StepTwoType">
		<xsd:annotation>
			<xsd:documentation>The data regarding the arrest charge and law enforcement or prosecutor charge disposition information
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StepFour" type="cdd-ext:StepFourType">
		<xsd:annotation>
			<xsd:documentation>The data regarding the court reported charge disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StepFive" type="cdd-ext:StepFiveType">
		<xsd:annotation>
			<xsd:documentation>The data regarding the court issued sentence related to charge disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllegationandEnhancement" type="cdd-ext:AllegationandEnhancementType">
		<xsd:annotation>
			<xsd:documentation>A data container for allegations and enhancements.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllegationandEnhancementCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Coded value for the type of allegations and enhancements.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllegationandEnhancementProvenIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the allegations are proven, false otherwise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date the arrest occured.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrestLiteralIdentifierText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The date the arrest occured.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseTrialCategoryCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A coded value for a kind of trial.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConsolidatedCourtCaseFileNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A number the identifies multiple court files that were consolidated into one
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountyCodeRecordSegmentNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Two digit county code and six digit record number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtFilingDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of court filing</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtTrueName" type="nc:PersonNameType">
		<xsd:annotation>
			<xsd:documentation>The full name of the disposition subject as determined by the court
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionEventCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Coded value for the reason of the disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionSubject" type="cdd-ext:DispositionSubjectType">
		<xsd:annotation>
			<xsd:documentation>The person whom the disposition applies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionStepNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Two digit numbers that identify the step type. e.g, 01,02,04,05.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionIdentificationNumber" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A number assigned by the issuing agency to be used for subsequent correlation purposes.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventSequenceNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A sequential number assigned to each occurance of an offense being disposed.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FingerprintsTakenIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the subject's fingerprints were captured, false if not.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InCountyWarrantNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A number for a warrant with enforcement limited to within the county
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JudicialDistrictNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>An identification number for a court district</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NonFilingDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of the prosecution non-filing of arrest charges.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OutofCountyWarrantNumber" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A number for a warrant generated by an agency outside fo the county
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleaseDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date of the law enforcement or prosecutor release of the arrest charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubsequentActionDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of the subsequent by either law enforcement, prosecution, or court action.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WarrantIssuingAgencyName" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The name of the agency that issued the warrant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalCourt" type="cdd-ext:OriginalCourtType">
		<xsd:annotation>
			<xsd:documentation>Information regarding the court that was involved in the intial charge.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SuccessfulProsecutorDeferralText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Value whether or not the deferral was successful.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProsecutorRefilingIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if case is a refiling by the prosecuting agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PCinLieuofFilingIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if probation revocation proceedings will be sought on another case in lieu of filing a complaint for
				this event
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReasonForNonFilingCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Prosecutor's justification for not filing charges</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OtherLawEnforcementDispositionCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The coded values for distinct kind of law enforcement disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JuvenileDispositionCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The coded value for the type of juvenile disposition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PCReleaseReason" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The coded value for law enforcment release of arrest charges.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PCReleaseCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Value to indicate the reason a police releases a defendant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProsecutorComments" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Prosecutor's comments or remarks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LawEnforcementComments" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Law Enforcement comments or remarks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Probation" type="cdd-ext:ProbationType">
		<xsd:annotation>
			<xsd:documentation>A data container for probation informatoin in a disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationCategoryText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Coded value for the kind of probation included in a sentence, e.g., supervised.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The duration of a probation sentence.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProbationConditionJailSuspendedTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The amount of jail time that is a condition of the defendant's probation that has been suspended.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JailTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The length or duration of the time spent in jail.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SuspendedJailTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Total jail time in days that was both entered and suspended.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FineTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Length of time to pay a fine</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SuspendedFineTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Length of time that a fine was suspended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VictimRestitutionAmount" type="nc:AmountType">
		<xsd:annotation>
			<xsd:documentation>the amount due to the victim through restitution.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WorkIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates defendant was ordered to perform any volunteer work
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DiversonProgramTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Length of diversion program.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmProhibitedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if firearms are prohibited as a condition of probation, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DrugTreatmentIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if drug treatment is ordered as a condition of probation, false otherwise
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SearchableIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if searches are a condition of probation, false otherwise
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegistrationRequirementIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if registration is required as a condition of probation, false otherwise
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DrugCourtTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Duration of a drug court.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeferredJudgmentTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Duration of the deferred judgment .</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChargeConsequencesofPleaIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True of Charges and direct consequence of plea are confirmed, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CounselWaivedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates the defendant has waived right to counsel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RepresentedByCounselIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates the defendant was represented by counsel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrialbyJuryWaivedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates the right to trial by a jury was waived.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SelfIncriminationWaivedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates the privilege against compulsory self incrimination was waived..
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfrontRightWaivedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates the right to confront and cross-examine the witness has been waived..
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CounselPleaConcurIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates defense counsel concurred with defendantss plea or admission.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtPleaEffectiveIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates the court found the plea was knowledgeable, intelligently made, and voluntary..
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CertificationDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date the court clerk certified the disposition</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ClerkCertifiedConvictionIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>True if a conviction was certified by clerk of the court, false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtClerkName" type="nc:PersonNameType">
		<xsd:annotation>
			<xsd:documentation>Name of the Court Clerk who certified the conviction/disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtClerkTitle" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The title of the Court Clerk who certified the conviction/disposition.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaliforniaYouthAuthorityTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Law Enforcement comments or remarks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrisonStayedTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Law Enforcement comments or remarks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrisonSentenceSuspendedTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Law Enforcement comments or remarks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrisonSentenceTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Length of prison sentence in years or months</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrisonFixedTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Total fixed prison term</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeathSentenceIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates if a death sentence was given on a Felony case.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SentenceStayedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates if the sentence is stayed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImpositionOfSentenceSuspendedIndicator" type="niem-xs:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates that imposition of sentence has been suspended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConsecutiveSentenceCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Indicates the sentence is to run consecutive with a case, count or term.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConcurrentSentenceCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Indicates the sentence is to run concurrent with a case, count or term..
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SentenceDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that the sentence is given..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DispositionSubsequentActionCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Coded values that define the reason a subsequent Abstract Judgement is being sent to the DOJ.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtCommentsText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Court comments or remarks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProceedingsSuspensionCategoryCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Coded values for the types of suspension proceedings</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DismissedReasonCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Coded values for the reason to dismiss a judgment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CaseProceedingSuspendedDate" type="nc:DateType">
		<xsd:annotation>
			<xsd:documentation>The date in which court case proceedings were suspended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SentenceAllegationTerm" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>The date in which court case proceedings were suspended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CourtDisposedChargeType" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Type of charge, in case of disposition</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>